{% extends "mobile_base.html" %}
{% load pagination_tags %}

{% block extra_style %}
	<style type="text/css">
		table{max-width:100%;background-color:transparent;border-collapse:collapse;border-spacing:0;}
.table{width:100%;margin-bottom:18px;}.table th,.table td{padding:8px;line-height:18px;text-align:left;vertical-align:top;border-top:1px solid #dddddd;}
.table th{font-weight:bold;}
.table thead th{vertical-align:bottom;}
.table caption+thead tr:first-child th,.table caption+thead tr:first-child td,.table colgroup+thead tr:first-child th,.table colgroup+thead tr:first-child td,.table thead:first-child tr:first-child th,.table thead:first-child tr:first-child td{border-top:0;}
.table tbody+tbody{border-top:2px solid #dddddd;}
.table-condensed th,.table-condensed td{padding:4px 5px;}
.table-bordered{border:1px solid #dddddd;border-collapse:separate;*border-collapse:collapsed;border-left:0;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}.table-bordered th,.table-bordered td{border-left:1px solid #dddddd;}
.table-bordered caption+thead tr:first-child th,.table-bordered caption+tbody tr:first-child th,.table-bordered caption+tbody tr:first-child td,.table-bordered colgroup+thead tr:first-child th,.table-bordered colgroup+tbody tr:first-child th,.table-bordered colgroup+tbody tr:first-child td,.table-bordered thead:first-child tr:first-child th,.table-bordered tbody:first-child tr:first-child th,.table-bordered tbody:first-child tr:first-child td{border-top:0;}
.table-bordered thead:first-child tr:first-child th:first-child,.table-bordered tbody:first-child tr:first-child td:first-child{-webkit-border-top-left-radius:4px;border-top-left-radius:4px;-moz-border-radius-topleft:4px;}
.table-bordered thead:first-child tr:first-child th:last-child,.table-bordered tbody:first-child tr:first-child td:last-child{-webkit-border-top-right-radius:4px;border-top-right-radius:4px;-moz-border-radius-topright:4px;}
.table-bordered thead:last-child tr:last-child th:first-child,.table-bordered tbody:last-child tr:last-child td:first-child{-webkit-border-radius:0 0 0 4px;-moz-border-radius:0 0 0 4px;border-radius:0 0 0 4px;-webkit-border-bottom-left-radius:4px;border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;}
.table-bordered thead:last-child tr:last-child th:last-child,.table-bordered tbody:last-child tr:last-child td:last-child{-webkit-border-bottom-right-radius:4px;border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;}
.table-striped tbody tr:nth-child(odd) td,.table-striped tbody tr:nth-child(odd) th{background-color:#f9f9f9;}
.table tbody tr:hover td,.table tbody tr:hover th{background-color:#f5f5f5;}
table .span1{float:none;width:44px;margin-left:0;}
table .span2{float:none;width:124px;margin-left:0;}
table .span3{float:none;width:204px;margin-left:0;}
table .span4{float:none;width:284px;margin-left:0;}
table .span5{float:none;width:364px;margin-left:0;}
table .span6{float:none;width:444px;margin-left:0;}
table .span7{float:none;width:524px;margin-left:0;}
table .span8{float:none;width:604px;margin-left:0;}
table .span9{float:none;width:684px;margin-left:0;}
table .span10{float:none;width:764px;margin-left:0;}
table .span11{float:none;width:844px;margin-left:0;}
table .span12{float:none;width:924px;margin-left:0;}
table .span13{float:none;width:1004px;margin-left:0;}
table .span14{float:none;width:1084px;margin-left:0;}
table .span15{float:none;width:1164px;margin-left:0;}
table .span16{float:none;width:1244px;margin-left:0;}
table .span17{float:none;width:1324px;margin-left:0;}
table .span18{float:none;width:1404px;margin-left:0;}
table .span19{float:none;width:1484px;margin-left:0;}
table .span20{float:none;width:1564px;margin-left:0;}
table .span21{float:none;width:1644px;margin-left:0;}
table .span22{float:none;width:1724px;margin-left:0;}
table .span23{float:none;width:1804px;margin-left:0;}
table .span24{float:none;width:1884px;margin-left:0;}

.pagination{height:36px;margin:18px 0;}
.pagination ul{display:inline-block;*display:inline;*zoom:1;margin-left:0;margin-bottom:0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);}
.pagination li{display:inline;}
.pagination a{float:left;padding:0 14px;line-height:34px;text-decoration:none;border:1px solid #ddd;border-left-width:0;}
.pagination a:hover,.pagination .active a{background-color:#f5f5f5;}
.pagination .active a{color:#999999;cursor:default;}
.pagination .disabled span,.pagination .disabled a,.pagination .disabled a:hover{color:#999999;background-color:transparent;cursor:default;}
.pagination li:first-child a{border-left-width:1px;-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px;}
.pagination li:last-child a{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.pagination-centered{text-align:center;}
.pagination-right{text-align:right;}


.postfee {
    display: inline-block;
    width: 60px;
}
	</style>
{% endblock extra_style %}

{% block extra_script %}
	<script type="text/javascript">
		$(function(){
			$('.form_postfee').live('submit',function(event){
				event.preventDefault();
			$.ajax({
				type:'POST',
				data:$(this).serialize(),
				dataType:'json',
				url:'/taobao/postfee/',
				success:function(data){
					console.log(data);
					console.log(data.tid)
					if(data.tid){
						// $('#change_postfee_ok a').attr('href', 'tid'+data.tid);

						$.mobile.changePage('#change_postfee_ok',{transition: 'pop', role: 'dialog'});

					}
					else{
						console.log(data)
						$('#postfee_dialog_text').text("错误");
						$.mobile.changePage('#change_postfee_ok',{transition: 'pop', role: 'dialog'});
					}


				}
			});
       });



		});

	</script>
{% endblock extra_script %}

{% block body %}


  {% if items %}
    {% autopaginate items 10 %}
    
    <div data-role="page" >

      <div data-role="header" data-theme="e">
	<h1>淘宝卖家 for 手机/平板 <sup>beta</sup></h1>
      </div><!-- /header -->

      <div data-role="content">	
	<ul data-role="listview" data-inset="true" data-filter="true">

	  {% for item in items %}


	    <li>
	    	

	      <a href="#{{item.tid}}" data-transition="slide">


		<div class="list-item">
		  <div class="p">
		    <img height="80" width="80" alt="" class="p-pic" src="{{item.pic_path}}">
			</div>
		    <div class="d">
		      <h3 class="d-title">{{item.orders.order.0.title}}</h3>
		      <div class="d-money">实付款：<em class="h">{{item.payment}}</em>元
		      （含运费{{item.post_fee}}元）
		      </div>
		      <div class="d-stat"><strong class="h ">{{item.status}}</strong> 
		      <p><span>买家：{{item.buyer_nick}}</span><span>共<em class="h">{{item.orders.order|length}}</em>件商品</span></p>
		      </div>
		    </div>
		  </div>
		</a>

	      </li>
	    {% endfor %}
	  </ul>
	</div><!-- /content -->
	{% paginate %}
	
      </div>


      {% for item in items %}

	<div id="{{item.tid}}" data-role="page" data-url="tid{{item.tid}}" data-add-back-btn="true">
	  <div data-role="header" data-theme="e">
	    <h1>商品详情</h1>
	    <a href="index.html" class="ui-btn-right">发货</a>
	  </div><!-- /header -->
	  <div data-role="content">
	    <section class="order">

	      <ul data-role="listview" data-inset="true"  data-theme="d">
		{% for order in item.orders.order  %}
		  <li>
		    <div class="list-item">
		      <div class="p">
				<img height="80" width="80" alt="" class="p-pic" src="{{order.pic_path}}"/>
			</div>
		      <div class="d">
				<h3 class="d-title">
					<a href="#">
			  	{{order.title}}</a>
				</h3>

<p>
	<span>单价：<em class="h">{{order.price}}</em>元</span><span>数量：{{order.num}}</span></p>
		      </div>
		    </div>

		  </li>
		{% endfor %}
	      </ul>
	    </section>
	    <section class="status order-status">
	      
	      <strong class="h">{{item.status}}</strong>实付款：<em class="h">{{item.payment}}</em>元

	      <form id="form_postfee{{item.tid}}" class="form_postfee" method="post" >{% csrf_token %}
			  <fieldset>
			    <div data-role="fieldcontain">
			    （含运费<input class="postfee"  width="70px" value="{{item.post_fee}}" data-inline="true" type="text"
			    name="postfee" />元）
			    <input type="hidden" name="next" value=""/>
			    <input type="hidden" name="tid" value="{{item.tid}}" />
			    <button type="submit" data-inline="true" data-rel="back" >
			      改运费
			    </button></div> 
			  </fieldset>
			</form>
	    </section>

	    <section class="misc-info">
	      <div class="basic seller-info">
		<table class="table table-striped">
		  <tr>
		    <td><em>买家ID</em></td>
		    <td><span>{{item.buyer_nick}}</span></td>
		  </tr>
		  <tr>
		    <td><em>收货人</em></td>
		    <td><span>{{item.receiver_name}}</span></td>
		  </tr>

		  <tr>
		    <td><em>收货地址</em></td>
		    <td><span>{{item.receiver_state}},{{item.receiver_city}},{{item.receiver_district}},{{item.receiver_address}}</span></td>
		  </tr>
		  <tr>
		    <td><em>手机</em></td>
		    <td><span>{{item.receiver_mobile}}</span></td>
		  </tr>
		</table>
		<table class="table table-striped">
		  <tr>
		    <td><em>淘宝订单号</em></td>
		    <td><span>{{item.tid}}</span></td>
		  </tr>
		  <tr>
		    <td><em>支付宝订单</em></td>
		    <td><span>{{item.alipay_no}}</span></td>
		  </tr>

		  <tr>
		    <td><em>生成时间</em></td>
		    <td><span>{{item.create_time}}</span></td>
		  </tr>
		  <tr>
		    <td><em>付款时间</em></td>
		    <td><span>{{item.pay_time}}</span></td>
		  </tr>
		</table>
	      </div>
	    </section>
	  </div><!-- content -->
	</div>
      {% endfor %}
    {% endif %}


<div data-role="page"  id="change_postfee_ok" data-url="change_postfee_ok" data-external-page="true" >
	<div role="dialog" >
	
		<div data-theme="e" data-role="header" role="banner"><h1 class="ui-title" role="heading" aria-level="1">Dialog</h1>

		</div>

		<div data-theme="e" data-role="content" class="ui-corner-bottom ui-content ui-body-c" role="main">
			<h2 id="postfee_dialog_text">运费修改成功</h2>
			<a data-theme="e" data-rel="back" data-role="button" href="#" data-corners="true" data-shadow="true" data-iconshadow="true" data-wrapperels="span" class="ui-btn ui-btn-up-c ui-shadow ui-btn-corner-all"><span class="ui-btn-inner ui-btn-corner-all"><span class="ui-btn-text">返回</span></span></a>    
		</div>
	</div></div>




  {% endblock %}
