{% extends "site_base.html" %}
{% load i18n %}
{% block category %}
	
{% endblock category %}	

{% block main %}
	{% if items %}
		
			<table class="table table-striped" >
      <tr>
	<th>{% trans "Image" %}
	</th>

	<th>{% trans "title" %}</th>
	<th>{% trans "Price" %}</th>
	<th>{% trans "Date" %}</th>
	<th>{% trans "State" %}</th>

	<th>{% trans "Action" %}</th>
		</tr>
		{% for item in items %}
		{% for order in item.orders %}
		<tr>
			<td><img src="{{order.pic_path}}"></img></td>
			<td>{{order.title}}</td>
			<td>{{order.price}}</td>
			<td>{{order.created}}</td>
			<td>{{order.status}}</td>

			<td><a href="#">{% trans "edit" %}</a><a href="#">{% trans "cancel" %}</a></td>
		</tr>
		{% endfor %}
		{% endfor %}

			</table>
		

	{% endif %}
{% endblock main %}